* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #4abdac;
    color: #dfdce3;
}

header {
    margin: 10px;
    padding: 5px;
    height: 90px;
    background-color: #fc4a1a;
    border-radius: 10px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

header h1 {
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2.8125em;
}

nav {
    margin: 10px;
    padding: 5px;
    height: 70px;
    background-color: #f78733;
    border-radius: 10px;
}

nav ul {
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 120px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    line-height: 2.916em;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #dfdce3;
    color: #f78733;
}

main {
    margin: 10px;
    border-radius: 10px;
    display: flex; /*postavlja sectione u dva stupca*/
}

main section:nth-child(1){
    margin-left: 10px;
    order: 1; /*zamjena mjesta sectiona*/
    flex: 1; /*sirina prvog sectiona*/
}

main section:nth-child(2){
    flex: 4; /*sirina drugog sectiona*/
}

main article, aside {
    background-color: #f78733;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

/*postavlja elemente unutar sectiona u dva stupca, mogu im promjeniti visine*/
main section{ 
    display: flex;
    flex-direction: column;
}

/*promjene visina - pocetak*/
main aside:nth-child(1){
    flex: 2;
}

main aside:nth-child(2){
    flex: 3;
    margin-bottom: 0px;
}

main article:nth-child(1){
    flex: 3;
}

main article:nth-child(2){
    flex: 2;
    margin-bottom: 0px;
}
/*promjene visina - kraj*/

footer {
    background-color: #fc4a1a;
    margin: 10px;
    padding: 5px;
    height: 90px;
    border-radius: 10px;
}

footer ul {
    width: auto;
    height: auto;
    text-align: center;
    list-style-type: none;
    float: right; /*lista desno*/
}

footer ul li {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
}

footer ul li a {
    display: inline-block;
    width: auto;
    height: auto;
}

footer ul li a:hover{
    opacity: 0.5;
}

footer p {
    height: 100%;
    width: 100%;
    line-height: 5.625em;
    text-align: left;
}