* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #4abdac;
    color: #dfdce3;
}

header {
    margin: 10px;
    padding: 5px;
    height: 90px;
    background-color: #fc4a1a;
    border-radius: 10px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

header h1 {
    height: 100%;
    text-align: center;
    font-size: 2em;
    line-height: 2.8125em;
}

nav {
    margin: 10px;
    padding: 5px;
    height: 70px;
    background-color: #f78733;
    border-radius: 10px;
}

nav ul {
    height: 100%;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    height: 100%;
    width: 120px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    line-height: 2.916em;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #dfdce3;
    color: #f78733;
}

main { /*u main dodan grid*/
    display: grid;
    grid-template-areas:
    "article1 article1 article1 article1 aside1"
    "article1 article1 article1 article1 aside1"
    "article1 article1 article1 article1 aside2"
    "article2 article2 article2 article2 aside2"
    "article2 article2 article2 article2 aside2";
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
}

/*opis svakog elementa grida - pocetak*/
.box1{
    grid-area: aside1;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    padding: 5px;
}

.box2{
    grid-area: aside2;
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
    padding: 5px;
}

.box3{
    grid-area: article1;
    border-radius: 10px;
    margin: 0px 0px 10px 10px;
    padding: 5px;
}

.box4{
    grid-area: article2;
    border-radius: 10px;
    margin: 0px 0px 0px 10px;
    padding: 5px;
}
/*opis svakog elementa grida - kraj*/

main article, aside {
    background-color: #f78733;
}

footer {
    
    background-color: #fc4a1a;
    margin: 10px;
    padding: 5px;
    height: 90px;
    border-radius: 10px;
}

footer ul {
    width: auto;
    height: auto;
    text-align: center;
    
    list-style-type: none;
    float: right; /*lista desno*/
}

footer ul li {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
}

footer ul li a {
    display: inline-block;
    width: auto;
    height: auto;
}

footer ul li a:hover{
    opacity: 0.5;
}

footer p {
    height: 100%;
    width: 100%;
    line-height: 5.625em;
    text-align: left
}